---
layout: layouts/base.njk
tags:
  - Static Site Builders
  - Eleventy
  - Bootstrap
eleventyNavigation:
  key: About This Blog
  order: 3
---


<h1>About This Blog</h1>

<aside>
<p class="topics">Topics:</p>
{%- for tag in tags | filterTagList %} 
{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
	{%- endfor %}
</aside>



<p>I built this blog as a task for one of my lessons on my course, which was about Static Site Generators. We used Eleventy. I also added Bootstrap to my blog, applying what I've learnt about frameworks.</p>
<p>I've used this blog to document and exemplify all my learnings throughout the course. You will find them tagged by topic.</p>