---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact Us
  order: 5
---
<h1>Contact Us</h1>

<p>Please use the contact form below:</p>

<form name="contact-us" netlify>
    <fieldset class="row g-3">
        <legend>Contact Form</legend>

        <div class="col-md-6">
          <label for="firstName" class="form-label">First Name:</label><br>
          <input id="firstName" class="form-control" type="text" required>
        </div>
        <div class="col-md-6">
          <label for="lastName" class="form-label">Last Name:</label><br>
          <input id="lastName" type="text" class="form-control" required>
        </div>

        <br><br>
        <div class="col-12">

          <label for="email" class="form-label">Email Address:</label><br>
          <input id="email" type="email" class="form-control" required>
        </div>
        <br><br>
        <div class="col-12">
          <label for="message" class="form-label">Type your message here:</label><br>
          <textarea name="message" id="message" class="form-control" rows="6" required></textarea>
        </div>
        <br><br>
        <div class="col-12">
          <input type="checkbox" id="terms" required>
          <label for="terms">I accept the Terms & Conditions</label>
        </div>
        <input type="submit" value="Submit">
    </fieldset>
</form>