---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<h1>Welcome to my Study Blog!</h1>
<br>
<ul class="welcome">
<li class="developer"><p>My name is Hannah, and I am an aspiring developer. I built this blog both to document and put into practice my learnings.</p>
</li>
<li class="navigate"><p>You will find my full journey under <a href="/content/blog.njk">Posts</a>, and you can also navigate what I've learnt by theme.</p>
</li>
<li class="me"><p>You can also read more <a href="/content/about/index.md">About Me</a>, and also about <a href="/content/about-blog.njk">how I built this blog</a> using Eleventy.</p>
</li>
<li class="hello">
<p>You are very welcome to reach out to me via my <a href="/content/contact-me.njk">contact page</a>!</p>
</li>

</ul>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found under <a href="/blog/">Posts</a>.</p>
{% endif %}
{# List every content page in the project #}


<!-- <h2>Navigate by Topic</h2>

<ul>
	{% for tag in collections.all | getAllTags | filterTagList %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}">{{ tag }}</a></li>
	{% endfor %}
</ul> -->
	
<h2>Navigate by Theme</h2>

<ul>
	{% for tag in collections.all | getAllTags | filterTagList %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li class="tagnav"><a href="{{ tagUrl }}">{{ tag }}</a></li>
	{% endfor %}
</ul>
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
