img.banner {
    width: 600px;
}

ul li::marker {
    font-size: 24px;
}

ul li {
    display: flex; 
    align-items: center; 
    list-style-type: none;
    padding-bottom: 5px;

}

li.study::before {
    content: '\1F4DA'; 
    font-size: 24px;
    margin-right: 10px;
}

li.work::before {
    content: '\1F4BB'; 
    font-size: 24px;
    margin-right: 10px;
}

li.background::before {
    content: '\1F33F'; 
    font-size: 24px;
    margin-right: 10px;
}


li.language::before {
    content: '\1F4AC'; 
    font-size: 24px;
    margin-right: 10px;
}

li.traits::before {
    content: '\1F4AD'; 
    font-size: 24px;
    margin-right: 10px;
}

li.hobbies::before {
    content: '\1F490'; 
    font-size: 24px;
    margin-right: 10px;
}

li.developer::before {
    content: '\1F331'; 
    font-size: 24px;
    margin-right: 10px; 
}

li.navigate::before {
    content: '\1F9ED'; 
    font-size: 24px;
    margin-right: 10px; 
}
li.me::before {
    content: '\2728'; 
    font-size: 24px;
    margin-right: 10px; 
}
li.hello::before {
    content: '\1F44B'; 
    font-size: 24px;
    margin-right: 10px; 
}
li.git::before {
    content: '\2328';
    font-size: 50px;
    margin-right: 10px; 
}
#task4 {
    border-style: solid;
    padding: 5px;
}

#temperature {
    width: 35px;
}

.percentage {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
    width: 250px;
}
.resultElements {
    display: flex;
}

.calculator-screenshot, .books-screenshot, .recipes-screenshot, .fixstart-screenshot {
    width: 600px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}
