ul li::marker {
    font-size: 24px;
}

ul li {
    display: flex; 
    align-items: center; 
    list-style-type: none;
    padding-bottom: 20px;

}

li.study::before {
    content: '\1F4DA'; 
    font-size: 24px;
    margin-right: 10px;
}

li.work::before {
    content: '\1F4BB'; 
    font-size: 24px;
    margin-right: 10px;
}

li.background::before {
    content: '\1F33F'; 
    font-size: 24px;
    margin-right: 10px;
}


li.language::before {
    content: '\1F4AC'; 
    font-size: 24px;
    margin-right: 10px;
}

li.traits::before {
    content: '\1F4AD'; 
    font-size: 24px;
    margin-right: 10px;
}

li.hobbies::before {
    content: '\1F490'; 
    font-size: 24px;
    margin-right: 10px;
}
💐
bouquet
Unicode: U+1F490, UTF-8: F0 9F 92 90